body {
      background-color: #ffffff;
      color: white;
      font-family: 'Montserrat', sans-serif;
}

h1 {font-size: 38px;
    font-weight: bold;}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fffff0;
  padding: 10px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;

}

header a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 800
}


header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #8b6c62;
  color: white;

}


nav {
  display: flex;
  align-items: center;
  }

