<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>{{ title }}</title>
            <link rel="stylesheet" href="static/css/about.css"/>
        </head>
        <body>
            {% include 'includes/header.html' %}
            <h4 style="padding: 0px 170px;">Привет, меня зовут Вика. С 6 до 11 лет я обучалась в<br>Кремлёвской художественной школе Великого Новгорода.<br>С детства я проявляла особый интерес к творческой<br>деятельности, активно участвовала в различных конкурсах<br>как областного, так и международного уровня.<br>В 2016 году принимала участие в выставке художественных<br>работ в Никольском соборе на тему “Время перед нами”,<br>в 2017 году создала сувениры для “Рождественской<br>Благотворительной Ярмарки Мастеров”
и участвовала в<br>арт-проекте "Экологический вернисаж” в Детском музейном<br>центре Новгородского музея-заповедника. В 2021<br>году я заняла 1 место в международном творческом конкурсе<br>"У лукоморья дуб зелёный...», а в 2022 стала победителем во<br>Всероссийских конкурсах “Любимый сказочный герой”,<br>"В мире цветов”, "Волшебная весна". В 2023 году<br>я выиграла в конкурсе рисунков, который проводил Институт<br>Современного искусства, и получила путёвку в "Артек". В<br>этом же году я приняла участие в конкурсном отборе, проводимом<br>Академией акварели и изящных искусств Сергея Андрияки,<br>на программу "Основы многослойной акварельной живописи" в <br>образовательном центре "Сириус" и успешно его прошла. Сейчас я стараюсь<br>развивать свои навыки рисования и становиться лучше в этом деле. </h4>

        </body>
    </html>