<!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <link rel="stylesheet" href="static/css/base.css"/>
                <title>{{ title }}</title>
            </head>
            <body>
                {% include 'includes/header.html' %}
                <h1 style="padding: 30px 170px;">ПЕТРОВА<br>ВИКТОРИЯ</h1>
                <h2 style="padding: 30px 170px;">Привет! Я - художник-фрилансер из Великого Новгорода.</h2>
                <img src="/static/img/base.png">
            </body>
        </html>