<!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel="stylesheet" href="static/css/galery.css"/>
            <title>{{ title }}</title>
        </head>
        <body>
            {% include 'includes/header.html' %}
        </body>
        <div class="gallery">
            <img src="/static/img/galery/1.jpg" alt="Фотография 1">
            <img src="/static/img/galery/2.jpg" alt="Фотография 2">
            <img src="/static/img/galery/3.jpg" alt="Фотография 3">
            <img src="/static/img/galery/4.jpg" alt="Фотография 4">
            <img src="/static/img/galery/5.jpg" alt="Фотография 5">
            <img src="/static/img/galery/6.jpg" alt="Фотография 6">
            <img src="/static/img/galery/7.jpg" alt="Фотография 7">
            <img src="/static/img/galery/8.jpg" alt="Фотография 8">
        </div>
    </html>