<!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel="stylesheet" href="static/css/galery.css"/>
            <title>{{ title }}</title>
        </head>
        <body>
            {% include 'includes/header.html' %}
        </body>
            <p>
                <img src="/static/img/galery/2.jpg" alt="Фотография 1" width="933" height="675">
                <img src="/static/img/galery/3.jpg" alt="Фотография 2" width="933" height="675">
                <img src="/static/img/galery/4.jpg" alt="Фотография 3" width="933" height="675">
                <img src="/static/img/galery/5.jpg" alt="Фотография 4" width="933" height="675">
                <img src="/static/img/galery/6.jpg" alt="Фотография 5" width="933" height="675">
            </p>
    </html>