<!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel="stylesheet" href="static/css/recommend.css"/>
            <title>{{ title }}</title>
        </head>
        <body>
            {% include 'includes/header.html' %}
            <p>
                <img src="/static/img/recommend/photo1.png" alt="Фотография 1" width="935" height="935">
                <img src="/static/img/recommend/photo2.png" alt="Фотография 2" width="935" height="935">
            </p>
        </body>
    </html>